.about {
  background-color: $light-blue;
}

.about__container {
  @include wrapper;
  @include border-radius;
  background-color: $dark-blue;
  background-image: url("../../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.about__title {
  @include title($dark-orange);
  margin: 0 25px;
}

.about__text {
  @include text($white);
  margin: 25px 35px 25px 25px;

  &--bold {
    @include font-set(16px, 22px, bold);
  }
}

@media (min-width: $tablet-width) {
  .about__container {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
